button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	line-height: 1;
	padding: .6em 1em;
	font-size: 1.5rem;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
