button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button,
a.wp-block-button__link {
	border: none;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__brand-primary;
	color: #FFF;
	line-height: 1;
	padding: .8em 1.75em;
	font-size: 1.25rem;
	box-shadow: -1px 1px 0 darken($color__brand-primary, 20%),
							-2px 2px 0 darken($color__brand-primary, 20%);
	transform: translate(0, 0);
	transition: .15s all ease-in-out;

	&:hover {
		border-radius: 15px;
		box-shadow: -1px 1px 0 darken($color__brand-primary, 20%),
								-2px 2px 0 darken($color__brand-primary, 20%),
								-3px 3px 0 darken($color__brand-primary, 20%),
								-4px 4px 0 darken($color__brand-primary, 20%),
								-5px 5px 0 darken($color__brand-primary, 20%);
		transform: translate(3px, -3px);
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}

	&.search-submit--home {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		left: calc(100% - 40px);
		width: 40px;
		box-sizing: border-box;
		background: url('img/ui-magnifying-glass-01.svg') no-repeat 50% 50%;
		background-size: 40%;
		overflow: hidden;
		text-indent: 60px;
		border: none;
		box-shadow: none;

		&:hover {
			transform: none;
		}

		@media (min-width: 480px) {
			width: 60px;
			left: calc(100% - 60px);
			background-size: 40%;
		}
	}
}