.has-medium-font-size {
	font-size: 1.5em;
}
.has-large-font-size {
	font-size: 2em;
}
article {
	p {
		margin-bottom: 1.5em;
		font-size: 1.125em;
		line-height: 1.6;
	}
	li {
		font-size: 1.125em;
	}
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 0 0 2em;
	font-weight: 600;
}
.wp-block-pullquote {
	text-align: left;
	font-size: 1.5em;
	padding: 1em 0;
	position: relative;
	&:before {
		content: '“';
		font-size: 3.333em;
		line-height: 1;
		position: absolute;
		left: 0;
		top: 0;
	}
	& p {
		margin: 0;
	}
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}
abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}
mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}
big {
	@include font-size(1.25);
}
.modern-footnotes-footnote a {
	color: inherit;
}
.modern-footnotes-footnote__note--tooltip {
	@include font-size(0.75);
}