h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	line-height: 1.5;
  margin-bottom: 1rem;
}


h1 {
	font-size: 2em;
	line-height: 1.4;
}
.headline-homenav {
	padding: 0;
	font-size: 5.5vw;
	& em,
	& span {
		color: $color__brand-primary;
	}  
	@media (min-width: 769px){
		font-size: 1.5rem;
	}
}
h2 {
	font-size: 1.6666em;
}
.wp-block-column > h2:first-child {
  margin-top: 0;
}

h3 {
	font-size: 1.3333em;
}

h1.entry-title,
h1.page-title {
	position: relative;
}

.home .page-subtitle {
	@include font-size(1.2);
}

.hero-header {
	@include font-size(2);
	margin-top: 0;
	@media (min-width: 480px) {
		@include font-size(2.5);
	}
	@media (min-width: 768px) {
		@include font-size(2.8);
			margin-bottom: .25em;
	}
}
.hero-subheader {
	@include font-size(1.333);
	line-height: 1.5;
	font-weight: 300;
	@media (min-width: 480px) {
		@include font-size(1.5);
	}
	@media (min-width: 768px) {
			@include font-size(1.666);	
			margin-bottom: 1.5em;
	}
}

.eyebrow {
	margin-bottom: 0;
	font-size: 1.125em;
	line-height: 1.5;
	font-weight: 300;
	color: $color__brand-primary;
}

.eyebrow + h1, .eyebrow + h2, .eyebrow + h3 {
	margin-top: 0.25em;
}