h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.333334;
}

h1 {
	font-size: 9vw;
	@media (min-width: 768px) {
		font-size: 2.5rem;
	}
}

h1.entry-title,
h1.page-title {
	color: #000;
	font-weight: 600;
	position: relative;
	top: .15em;
}

.home .page-subtitle {
	font-size: 1.2em;
}

.home h1 {
	font-size: 9vw;

	@media (min-width: 768px) {
			font-size: 3rem;
			margin-bottom: .25em;
	}
}
.home h2 {
	font-size: 6vw;
	line-height: 1.5;

	@media (min-width: 768px) {
			font-size: 1.6666rem;
			margin-bottom: 1.5em;
	}
}