h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: 600;
}

h1.entry-title,
h1.page-title {
	color: #000;
	font-size: 1.75em;
	font-weight: 600;
	position: relative;
	top: .15em;
}

.home .page-subtitle {
	font-size: 1.2em;
}