button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button,
a.wp-block-button__link {
	border: none;
	border-radius: 3px;
	border-color: $color__brand-primary!important;
	border: 2px solid $color__brand-primary;
	background: $color__brand-primary;
	color: $color__background-body;
	line-height: 1.5;
	padding: .66em 1.75em;
	@include font-size(1.25);
  transition: .15s all ease-in-out;
	cursor: pointer;
	display: inline-block;
	&:hover {
		color: $color__background-body;
		border-radius: 15px;
	}
	&:visited {
		color: $color__background-body;
	}
	&.search-submit--home {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		left: calc(100% - 40px);
		width: 40px;
		box-sizing: border-box;
		background: url('img/ui-magnifying-glass-01.svg') no-repeat 50% 50%;
		background-size: 40%;
		overflow: hidden;
		text-indent: 60px;
		border: none;
		box-shadow: none;

		&:hover {
			transform: none;
		}

		@media (min-width: 480px) {
			width: 60px;
			left: calc(100% - 60px);
			background-size: 40%;
		}
	}
	&.button-small {
		@include font-size(1);
		padding: .3em 1.25em;
		line-height: 2.5rem;
	}
	&.button-block {
		display: block;
		text-align: center;
	}
	&.button-disabled {
		opacity: .3;
		text-decoration: line-through;
	}
	&.button-secondary {
		background: transparent;
		color: $color__brand-primary;
		border: 2px solid $color__brand-primary;
	}
	&.button-invisible {
		background: transparent;
		color: $color__brand-primary;
		border-color: transparent!important;
	}
}
.button.tiny-back svg path,
.button.tiny-next svg path {
	stroke: $color__brand-primary;
}
.button.tiny-back svg {
	position: relative;
	top: 1px;
	left: -2px;
}
.button.tiny-next svg {
	position: relative;
	top: 1px;
	left: 2px;
	transform: rotate(180deg);
}