input[type="text"],
input[type="email"],
input[type="phone"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	height: 45px;
	width: 100%;
	line-height: 45px;
	color: darken(desaturate($color__brand-primary, 90%), 20%);
	@include font-size(1.25);
	border-radius: 3px;
	padding: 0 .75rem;
	background-color: lighten($color__brand-primary, 23%);
	border: none;

	&:focus {
		color: $color__text-input-focus;
	}

	&.search-field--home {
		width: 100%;
	}

	&::placeholder {
		color: desaturate(lighten($color__brand-primary, 10%), 40%);
		opacity: 1;
    //font-style: italic;
	}

	@media screen and (min-width: 480px) {
		padding: 1em;
		line-height: 50px;
		height: 50px;
		@include font-size(1);
	}
}
.ccselect2-search input {
	background-color: #fff7f4;
	border: 1px solid #ffe0d6;
	line-height: normal;
	height: auto;
}
.ccselect2-drop {
	min-width: 280px;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid #ffe0d6;
	border-radius: 10px;
	color: $color__brand-primary;
	height: 40px;
	padding: 0 2rem 0 .5rem;
	width: auto;
	position: relative;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FF9B7A%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat;
	background-position: right .7em top 50%;
	background-size: .65em auto;
	background-color: #fff7f4;
}
option {
	color: #333;
	font-size: 1rem;
}
.swpm-edit-profile-form select {
	width: auto;
}
textarea {
	width: 100%;
	height: auto;
	line-height: 1.5;
}

label {
	@include font-size(0.9);
	font-weight: 300;
	color: #666;
	position: relative;
	display: block;
	margin-bottom: .1rem;
	margin-top: .5rem;
}

//Caldera bootstrap elements

.caldera-grid form {
	margin-bottom: -.5rem;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.col-sm-6 {
	@media (min-width: 640px) {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

.parsley-type,
.parsley-required {
	padding: .5rem;
	@include font-size(0.8);
	text-align: center;
	background: red;
	width: 100%;
	position: relative;
	top: 7px;
	color: #fff;
	min-width: 120px;
	border-radius: 6px;

	&:before {
		content: '';
		width: 0px;
		height: 0px;
		display: block;
		position: absolute;
		bottom: 100%;
		left: 20px;
		border: 7px solid transparent;
		border-bottom-color: red;
	}
}