ul, ol {
	margin: 0 0 1em 0;
	padding: 0 0 0 1em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: .5em;
}

article ul > li,
.home .site-content ul > li,
.page-template-page-about .site-content ul >li {
	list-style: none;
	padding-bottom: .5em;
	&:before {
		content: "•";
		color: $color__brand-primary;
		display: inline-block; 
		width: 1em;
		margin-left: -1em;
	}
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

.main-navigation ul {
	margin: 0;
	padding: 0;

	& li {
		margin: 0;
		padding: 0;
	}
}
