$color__background-body: #FFF;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #FFF;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #E5947F;
$color__link-visited: #E5947F;
$color__link-hover: #E5947F;
$color__text-main: #333;

$color__border-button: #E5947F;
$color__border-button-hover: #E5947F;
$color__border-button-focus: #E5947F;
$color__border-input: #E5947F;
$color__border-abbr: #666;
