$color__brand-secondary: #9ACFE9; //former #C4E3F2
$color__brand-primary: #FF9B7A; //former #FF9B7A

$color__background-body: #FFF;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: lighten($color__brand-primary, 20%);
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #000;
$color__text-input-focus: #000;
$color__link: $color__brand-primary;
$color__link-visited: $color__link;
$color__link-hover: $color__link;
$color__text-main: #000;

$color__border-button: $color__brand-primary;
$color__border-button-hover: $color__brand-primary;
$color__border-button-focus: $color__brand-primary;
$color__border-input: $color__brand-primary;
$color__border-abbr: #666;