a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.back-button {
	background-color: transparent;
	padding: .85em;
	margin-right: .5em;
	border-radius: 50%;
	border: 2px solid $color__brand-primary;
	line-height: 0;
	display: inline-block;
	z-index: 1001;
	transition: all .1s ease-in-out;
	position: fixed;
	top: 12px;
	left: 1rem;
	display: inline-block;
	font-size: .9rem;

	& svg {
		width: 18px;
		height: 18px;
		& path{
			stroke: $color__link;
		}
	}

	@media (min-width: 480px) {
		left: 1.5rem;
		font-size: 1rem;
		padding: 1em;
		top: 10px;
	}

	@media (min-width:  1100px) {
		display: none;
	}

	&:hover {
		border: 2px solid $color__brand-primary;
	}

	.home &, 
	.blog & {
		display: none;
	}

	@media (min-width: 1200px) {
		.page-template-page-move &,
		.page-template-page-breathe & {
			display: none;
		}
	}
}


