a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.back-button {
	background-color: lighten($color__brand-primary, 25%);
	box-shadow: 0 0 $color__brand-primary;
	padding: .75em;
	margin-right: .5em;
	border-radius: 0px 10px 10px 10px;
	line-height: 1;
	display: inline-block;
	z-index: 1001;
	transition: all .1s ease-in-out;
	position: absolute;
	top: 17px;
	left: 1em;
	display: inline-block;
	font-size: .9rem;

	& svg {
		width: 7px;
		position: relative;
		top: 1px;
		& path{
			stroke: $color__link;
		}
		@media (min-width: 480px) {
			width: 10px;
		}
	}

	@media (min-width: 480px) {
		left: 2em;
		font-size: 1rem;
		padding: .75em 1em .75em .75em;
		top: 20px;
	}

	@media (min-width: 800px) {
		left: calc(50% - 500px + 2em);
	}

	&:hover {
		transform: translate(3px, -3px);
		box-shadow: -1px 1px 0 $color__brand-primary,
					-2px 2px 0 $color__brand-primary,
					-3px 3px 0 $color__brand-primary;
	}

	.home &, 
	.blog & {
		display: none;
	}
}


