.site-header {
	background: #FFF;
	z-index: 1000;
	border-bottom: 1px solid $color__background-body;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	
	@media (min-width: 480px) {
		padding: 0 1.5rem;
		height: 80px;
	}

	@media (min-width:  1100px) {
		padding: 0 2rem;
		border-bottom: none;
		display: flex;
		align-items: center;
		align-content: flex-start;
		transition: .1s all linear;
	}

	&.scrolled {
		@media (min-width:  1100px) {
			box-shadow: 0 0 10px rgba(0,0,0,0.05);
		}
	}
}

.site-branding {
	position: relative;
	height: 70px;
	padding: 18px 1rem 14px 1rem;
	margin: 0 auto;

	@media (min-width: 480px) {
		height: 80px;
	}

	@media screen and (min-width:  1100px) {		
		margin:  0;
		padding: 18px 0 14px 0;
		display: inline-block;
	}

	& a {
		display: block;
		height: 100%;

		&:focus {
			outline: none;
		}
	}

	& svg {
		display: block;
		height: 100%;
		margin: auto;
		position: relative;
		top: 0;
	}
}

.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	margin: 0 auto;

	@media screen and (min-width:  1100px) {
		display: flex;
		width: 100%;
		margin: 0 0 0 2rem;
		align-items: center;
		justify-content: flex-start;

		&.main-navigation-nonuser {
			margin: 0 auto 0 2rem;
		}
	}

	& .menu-nonuser-menu-container,
	& .menu-menu-1-container,
	& .menu-movebreathe-container {

		@media (min-width:  1100px) {
			display: inline-block;
		}
	}

	& .menu-movebreathe-container {		
		position: fixed;
		bottom: 0;
		z-index: 999;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 25px 25px 0 0;

		@media (min-width:  1100px) {
			position: static;
			margin-right: 2rem;
			display: block;
			width: auto;
			height: auto;
			transform: none;

		}

		& ul {
			display: flex;
			visibility: visible;
			opacity: 1;
			padding: 0;

			@media (min-width:  1100px) {
				height: auto;
				display: block;
			}
		}

		& a {
			display: block;
			border: none;
			min-width: 0;
			width: 120px;
			height: 60px;
			line-height: 60px;
			padding: 0;
			margin: 0;
			left: 0;
			text-align: center;
			font-size: 1.125rem;
			background-color: darken($color__brand-primary, 0%);

			@media (min-width:  1100px) {
				position: static;
				display: inline;
				font-size: 1rem;
				padding: 0 .5rem;
				text-align: left;
				background-color: transparent;
			}
		}

		& ul li:first-child a {
			border-radius: 20px 0 0 0;
		}
		
		& ul li:last-child a {
			border-radius: 0 20px 0 0;
		}

		& ul li:nth-child(2):after {
			content: '';
			display: none;
		}

		& ul li:nth-child(2) a {
			width: 50px;

			@media (min-width:  1100px) {
				display: none;
			}

			& svg {
				position: absolute;
				width: 30px;
				fill: #FFF;
				top: 15px;
				left: 10px;
			}
		}

		& ul li:last-child a {
			left: auto;
			right: 0;
		}
		
		li:after {
			color: $color__brand-primary;
		}
	} //END & .menu-movebreathe-container 

	& ul {		
		list-style: none;
		overflow: hidden;
		padding: 1rem;
		
		@media (min-width: 480px) {
			right: calc(1rem + 1px);
			padding: 1.5rem;
		}

		@media (min-width:  1100px) {
			padding: 0;
			display: block;
			position: relative;
			top: 0;
			right: 0;
			background-color: transparent;
			border-radius: 0;
			box-shadow: none;
			overflow: visible;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;		

		@media screen and (min-width:  1100px) {
			display: inline-block;
			float: left;

			&:after {
				content: '|';
				color: #B2B2B2;
				margin: 0 .25rem;
			}

			&:last-child:after {
				content: '';
			}
		}
	}

	a { //the actual menu links
		display: block;
		text-decoration: none;
		padding: .75em .75em .75em 0;
		margin-left: .75em;
		font-size: 1rem;
		font-weight: 300;
		min-width: 250px;
		color: $color__text-main;

		@media screen and (min-width:  1100px) {
			display: inline-block;
			padding: 0 .5rem;
			margin-left: 0;
			border-bottom: none;
			min-width: 0;

		}
	}

	ul li:last-child a,
	.user-menu a:last-child {
		border-bottom: none;
	}

	.menu-movebreathe-container a {
		color: #FFF;

		@media (min-width: 1100px) {
			color: $color__brand-primary;
		}
	}

	
	& .active_page_item > a {

		&:focus {
			outline: none;
		}

		@media screen and (min-width:  1100px) {
			background-color: lighten($color__brand-primary, 27%);
			border-right: 5px solid $color__brand-primary;
			color: $color__brand-primary;
			transition: all .3s linear;
		}
	}
}

.site-header-account,
.site-header-login {
	padding: 1.5rem;
	position: relative;
	border-radius: 0 0 0 6px;
	background-color: #EEE;

	@media (min-width:  1100px) {
		display: block;
		background-color: transparent;
		padding: 0;
		border-radius: 6px;
	}
	
	&:before {
		content: url(img/ui-user.svg);
		width: 16px;
		display: inline-block;
	}

	& a {
		color: $color__brand-primary;
	}

	& .user-menu {
		//border-top: 1px solid #ddd;
		margin-top: 1rem;
		
		@media (min-width:  1100px) {
			margin: 0;
			padding: 1em;
			border: 1px solid #EEE;
			background-color: #FFF;
			border-radius: 5px;
			border-top: none;
			position: absolute;
			top: 100%;
			right: 0;
			display: none;
			line-height: 2;
		}
	}

	&:hover .user-menu {
		display: inherit;
	}
}
.site-header-login {
	@media (min-width:  1100px){
		margin: 0 0 0 auto;
	}
}


/* Mobile menu. */


.main-navigation  {
	
	& ul:not(#movebreathe-menu),
	& .site-header-account,
	& .site-header-login {
		//display: none;
		margin-top: -100vh;
		margin-left: 100px;
		margin-right: -50px;

		@media (min-width:  1100px) {
			display: block;
			transform: none;
			margin: 0;
		}
	}

	& .site-header-login {
		@media (min-width:  1100px) {
			margin: 0 0 0 auto;
		}
	}
}

@media (max-width: 1099px) {
	.main-navigation.toggled  {

		& ul:not(#movebreathe-menu),
		& .site-header-account,
		& .site-header-login {	
			opacity: 1;
			visibility: visible;
			display: block;
			margin-top: 0;
			background-color: #FFF;
			border-radius: 6px 0 0 0;
			border: 1px solid #EEE;
			border-bottom-width: 0;
		}

		& .site-header-account,
		& .site-header-login  {
			border-radius: 0 0 0 6px;
			border-bottom-width: 1px;
			border-top-width: 0;
		}
		
		& #movebreathe-menu {
			display: flex;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
		width: 100%;
	}

	.nav-previous {
		float: right;
		padding: .5rem 1rem;
		background-color: lighten($color__brand-primary, 20%);
		border-radius: 5px;
	}

	.nav-next {
		float: left;
		text-align: right;
		padding: .5rem 1rem;
		background-color: lighten($color__brand-primary, 20%);
		border-radius: 5px;
	}
}

.menu-name {
	color: #000;
	font-size: 9px;
	font-weight: 300;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 5px;
//	display: none;
}

.menu-toggle {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 50px;
	height: 50px;
	padding: 0;
	position: absolute;
	top: .5rem;
	right: calc(1rem - 7px);
	z-index: 3;

	@media (min-width: 480px) {
		right: calc(2rem - 15px);
		top: 5px;
	}

	@media screen and (min-width:  1100px) {
		display: none;
	}
	
	&:hover {
		transform: none;
		box-shadow: none;
	}

	.navTrigger {
	  cursor: pointer;
	  width: 50px;
	  height: 50px;
	  margin: 0;
	  position: absolute;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  padding: 14px;
	}
	.navTrigger i {
	  background-color: #000;
	  content: '';
	  display: block;
	  width: 100%;
	  height: 2px;
	}
	.navTrigger i:nth-child(1) {
	  -webkit-animation: outT 0.3s backwards;
	  animation: outT 0.3s backwards;
	  -webkit-animation-direction: reverse;
	  animation-direction: reverse;
	}
	.navTrigger i:nth-child(2) {
	  margin: 5px 0;
	  -webkit-animation: outM 0.3s backwards;
	  animation: outM 0.3s backwards;
	  -webkit-animation-direction: reverse;
	  animation-direction: reverse;
	}
	.navTrigger i:nth-child(3) {
	  -webkit-animation: outBtm 0.3s backwards;
	  animation: outBtm 0.3s backwards;
	  -webkit-animation-direction: reverse;
	  animation-direction: reverse;
    }

	.toggled & .navTrigger i:nth-child(1) {
        background-color: #000;
	  -webkit-animation: inT 0.3s forwards;
	  animation: inT 0.3s forwards;
	}
	.toggled & .navTrigger i:nth-child(2) {
        background-color: #000;
	  -webkit-animation: inM 0.3s forwards;
	  animation: inM 0.3s forwards;
	}
	.toggled & .navTrigger i:nth-child(3) {
        background-color: #000;
	  -webkit-animation: inBtm 0.3s forwards;
	  animation: inBtm 0.3s forwards;
	}
	@-webkit-keyframes inM {
	  50% {
	    -webkit-transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(45deg);
	  }
	}
	@keyframes inM {
	  50% {
	    transform: rotate(0deg);
	  }
	  100% {
	    transform: rotate(45deg);
	  }
	}
	@-webkit-keyframes outM {
	  50% {
	    -webkit-transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(45deg);
	  }
	}
	@keyframes outM {
	  50% {
	    transform: rotate(0deg);
	  }
	  100% {
	    transform: rotate(45deg);
	  }
	}
	@-webkit-keyframes inT {
	  0% {
	    -webkit-transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    -webkit-transform: translateY(7px) rotate(0deg);
	  }
	  100% {
	    -webkit-transform: translateY(7px) rotate(135deg);
	  }
	}
	@keyframes inT {
	  0% {
	    transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    transform: translateY(7px) rotate(0deg);
	  }
	  100% {
	    transform: translateY(7px) rotate(135deg);
	  }
	}
	@-webkit-keyframes outT {
	  0% {
	    -webkit-transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    -webkit-transform: translateY(7px) rotate(0deg);
	  }
	  100% {
	    -webkit-transform: translateY(7px) rotate(135deg);
	  }
	}
	@keyframes outT {
	  0% {
	    transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    transform: translateY(7px) rotate(0deg);
	  }
	  100% {
	    transform: translateY(7px) rotate(135deg);
	  }
	}
	@-webkit-keyframes inBtm {
	  0% {
	    -webkit-transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    -webkit-transform: translateY(-7px) rotate(0deg);
	  }
	  100% {
	    -webkit-transform: translateY(-7px) rotate(135deg);
	  }
	}
	@keyframes inBtm {
	  0% {
	    transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    transform: translateY(-7px) rotate(0deg);
	  }
	  100% {
	    transform: translateY(-7px) rotate(135deg);
	  }
	}
	@-webkit-keyframes outBtm {
	  0% {
	    -webkit-transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    -webkit-transform: translateY(-7px) rotate(0deg);
	  }
	  100% {
	    -webkit-transform: translateY(-7px) rotate(135deg);
	  }
	}
	@keyframes outBtm {
	  0% {
	    transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    transform: translateY(-7px) rotate(0deg);
	  }
	  100% {
	    transform: translateY(-7px) rotate(135deg);
	  }
	}

}