.site-header {
	position: sticky;
	top: 0;
	background: #FFF;
	z-index: 1000;
	margin-left: -1em;
	width: calc(100% + 2em);
	
	@media (min-width: 480px) {
		margin-left: -2em;
		width: calc(100% + 4em);
	}
}

.site-branding {
	position: relative;
	height: 70px;
	padding: 20px 1rem;
	margin: 0 auto;

	@media (min-width: 480px) {
		height: 80px;
	}

	& a {
		display: block;
		height: 100%;
	}

	& svg {
		display: block;
		height: 100%;
		margin: auto;
		position: relative;
		top: 0;
	}
}

.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	width: 100%;
	//max-width: 800px;
	margin: 0 auto;

	ul {
		opacity: 0;
		visibility: hidden;
		//display: none;
		position: absolute;
		right: 0;
		top: 60px;
		background-color: lighten($color__brand-primary, 25%);
		border-radius: 5px;
		list-style: none;
		margin: 0;
		padding-left: 0;
		overflow: hidden;
		box-shadow: -3px 3px 4px rgba(0,0,0,0.05);
		
		@media (min-width: 480px) {
			right: calc(1rem + 1px);
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 1em;
		font-size: 1.25em;
		font-weight: 300;
		min-width: 250px;
		border-bottom: 1px solid lighten($color__brand-primary, 22%);
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */

.main-navigation.toggled ul {
	opacity: 1;
	visibility: visible;
}

.main-navigation.toggled .navTrigger {
	background-color: lighten($color__brand-primary, 25%);
}

.menu-name {
	color: #000;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.menu-toggle {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 60px;
	height: 70px;
	position: absolute;
	top: 0px;
	right: calc(1rem - 15px);

	@media (min-width: 480px) {
		right: calc(2rem - 15px);
	}
	
	&:hover {
		transform: none;
		box-shadow: none;
	}

	.navTrigger {
	  cursor: pointer;
	  width: 60px;
	  height: 70px;
	  margin: 0;
	  position: absolute;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  padding: 15px;
	  border-radius: 5px 5px 0 0;
	}
	.navTrigger i {
	  background-color: #000;
	  border-radius: 2px;
	  content: '';
	  display: block;
	  width: 100%;
	  height: 4px;
	}
	.navTrigger i:nth-child(1) {
	  -webkit-animation: outT 0.3s backwards;
	  animation: outT 0.3s backwards;
	  -webkit-animation-direction: reverse;
	  animation-direction: reverse;
	}
	.navTrigger i:nth-child(2) {
	  margin: 5px 0;
	  -webkit-animation: outM 0.3s backwards;
	  animation: outM 0.3s backwards;
	  -webkit-animation-direction: reverse;
	  animation-direction: reverse;
	}
	.navTrigger i:nth-child(3) {
	  -webkit-animation: outBtm 0.3s backwards;
	  animation: outBtm 0.3s backwards;
	  -webkit-animation-direction: reverse;
	  animation-direction: reverse;
    }

	.toggled & .navTrigger i:nth-child(1) {
        background-color: #000;
	  -webkit-animation: inT 0.3s forwards;
	  animation: inT 0.3s forwards;
	}
	.toggled & .navTrigger i:nth-child(2) {
        background-color: #000;
	  -webkit-animation: inM 0.3s forwards;
	  animation: inM 0.3s forwards;
	}
	.toggled & .navTrigger i:nth-child(3) {
        background-color: #000;
	  -webkit-animation: inBtm 0.3s forwards;
	  animation: inBtm 0.3s forwards;
	}
	@-webkit-keyframes inM {
	  50% {
	    -webkit-transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(45deg);
	  }
	}
	@keyframes inM {
	  50% {
	    transform: rotate(0deg);
	  }
	  100% {
	    transform: rotate(45deg);
	  }
	}
	@-webkit-keyframes outM {
	  50% {
	    -webkit-transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(45deg);
	  }
	}
	@keyframes outM {
	  50% {
	    transform: rotate(0deg);
	  }
	  100% {
	    transform: rotate(45deg);
	  }
	}
	@-webkit-keyframes inT {
	  0% {
	    -webkit-transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    -webkit-transform: translateY(9px) rotate(0deg);
	  }
	  100% {
	    -webkit-transform: translateY(9px) rotate(135deg);
	  }
	}
	@keyframes inT {
	  0% {
	    transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    transform: translateY(9px) rotate(0deg);
	  }
	  100% {
	    transform: translateY(9px) rotate(135deg);
	  }
	}
	@-webkit-keyframes outT {
	  0% {
	    -webkit-transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    -webkit-transform: translateY(9px) rotate(0deg);
	  }
	  100% {
	    -webkit-transform: translateY(9px) rotate(135deg);
	  }
	}
	@keyframes outT {
	  0% {
	    transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    transform: translateY(9px) rotate(0deg);
	  }
	  100% {
	    transform: translateY(9px) rotate(135deg);
	  }
	}
	@-webkit-keyframes inBtm {
	  0% {
	    -webkit-transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    -webkit-transform: translateY(-9px) rotate(0deg);
	  }
	  100% {
	    -webkit-transform: translateY(-9px) rotate(135deg);
	  }
	}
	@keyframes inBtm {
	  0% {
	    transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    transform: translateY(-9px) rotate(0deg);
	  }
	  100% {
	    transform: translateY(-9px) rotate(135deg);
	  }
	}
	@-webkit-keyframes outBtm {
	  0% {
	    -webkit-transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    -webkit-transform: translateY(-9px) rotate(0deg);
	  }
	  100% {
	    -webkit-transform: translateY(-9px) rotate(135deg);
	  }
	}
	@keyframes outBtm {
	  0% {
	    transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    transform: translateY(-9px) rotate(0deg);
	  }
	  100% {
	    transform: translateY(-9px) rotate(135deg);
	  }
	}

}