.posts-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;

    & > header:first-child {
        display: none;
    }

    @media (min-width: 769px) {
        overflow: visible;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.exercises-tag,
.exercises-tag:visited {
    padding: 0;
    border-radius: 3px;
}

.blog,
.archive {

    & article.post,
    & article.exercises {
        width: 66%;
        background-color: lighten($color__brand-primary, 20%);
        padding: 1.5em;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: .5em;
        margin-right: .5em;
        flex-shrink: 0;
        scroll-snap-align: start;
        font-size: .8rem;
        position: relative;

        @media (min-width: 640px) {
            width: calc(40% - .5em) ;
            font-size: 1rem;
        }

        @media (min-width: 769px) {
            padding: 2em;
            width: calc((100% - 1em) / 3) ;
            font-size: 1rem;
            transition: all .1s ease-out;
           // transform: translate(0, 0);
           // box-shadow: 0 3px 9px rgba(0,0,0,0);
            flex-grow: 0;

            &:nth-child(3n) {
                margin-right: 0;
            }

            &:last-child {
                flex-grow: 0;
            }

            & .post-thumbnail {
                background-size: 100%;
                transition: all 1s ease-out;
            }

            &:hover {
              //  transform: translate(0, -10px);
                //box-shadow: 0 3px 9px rgba(0,0,0,0.2);
                & .post-thumbnail {
                    background-size: 105%;
                    transition: all .2s ease-in;
                }
            }
        }

        @media (min-width: 1250px) {
            z-index: 2;
        }

        & .entry-title {
            font-size: 1.125em;
            margin-bottom: 1rem;

            & a {
                color: $color__text-main;
            }
        }

        & .entry-summary,
        & .entry-content {

            &, 
            & a {
                color: #666;
            }

            & p:first-child {
                margin-top: 0;
            }
        }

        & .entry-meta,
        & .entry-footer {
            font-size: 0.75rem;
            border-top: 1px solid lighten($color__brand-primary, 15%);
            padding-top: 1em;
            margin-bottom: -.5rem;
            
            @media (min-width: 480px) {
                margin-bottom: -1rem;
            }

            & .divider {
                color: $color__brand-primary;
            }
        }
    }

    & .post-thumbnail {
        display: block;
        width: calc(100% + 4em);
        padding-top: 80%;
        background-size: cover;
        background-position: 50% 50%;  
        margin: -1.5em -1.5em 1.5em -1.5em;      

        @media (min-width: 769px) {
            margin: -2em -2em 2em -2em;
        }    
    }

    & .sticky-post{
        & article {
            width: 100%;
            font-size: 1rem;
            margin-bottom: 1rem;

            @media (min-width: 480px) {
                display: flex;
                font-size: 1.2rem;

                & .entry-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                & .entry-title {
                    font-size: 1.5em;
                }

                & .post-thumbnail {
                    width: calc(50% + 2rem);
                    padding-top: 37.5%;
                    margin: -2em 2em -2em -2em;
                    flex-shrink: 0;
                }
            }
        }
    }

    &.show-discreet-exercises-only {
        & article.post,
        & article.exercises {
            &:nth-child(3n) {
                margin-right: .5em;
            }
            &.exercises-tag-discreet ~ .exercises-tag-discreet ~ .exercises-tag-discreet,
            &.exercises-tag-discreet ~ .exercises-tag-discreet ~ .exercises-tag-discreet ~ .exercises-tag-discreet ~ .exercises-tag-discreet ~ .exercises-tag-discreet {
                margin-right: 0;
            }
        }
    }
}

.discreet-checkmark {
    height: 24px;
    width: 24px;
    background-color: $color__brand-primary;
    border-radius: 50%;
    display: block;
    position: absolute;       
    top: .5em;
    right: .5em;
    font-size: 1rem;
    
    & svg {
        width: 16px;
        height: 16px;
        left: 4px;
        top: 0px;
        fill: #FFF;
        position: relative;
    }
}

