.archive {
    & article {
        padding: 1em;
        margin-bottom: 1em;
        background: #FFF;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);

        & .entry-header {
            & h2 {
                margin-top: 0;
            }
        }

        & .post-thumbnail {
            float: right;
            width: 25%;
            margin-left: 1em;
        }
    }
}