.cta-block {
  padding: 1.5rem;
  background-color: lighten($color__brand-primary, 20%);
  border-radius: 5px;
  text-align: center;

  h3 {
    margin-top: 0;
  }

  & .wp-block-buttons .wp-block-button {
    margin-bottom: 1rem;
  }

  & .already-member {
    font-size: .9rem;
    margin: 0;
  }
}

.page-template-page-the-benefits {
    background-color: $color__brand-secondary;
  }

  .page-template-page-the-benefits .site-content,
  .page-template-page-about .site-content, {
    padding: 0 1.5rem;
  }

  .page-template-page-the-benefits .site-main,
  .page-template-page-about .site-main {
    position: relative;
    padding: 0;
  }

  .page-template-page-the-benefits #section_rebalanceYourself em,
  .page-template-page-about em {
    color: $color__brand-primary;
  }
  
  .page-template-page-the-benefits em strong {
    font-style: normal;
    font-weight: 600;
  }

.illustration-stage {
  position: fixed;
  top: 70px;
  padding: 20px 0 0 0;
  text-align: center;
  width: calc(100% - 3rem);
  height: calc(50% - 50px);
  background-color: $color__brand-secondary;
  z-index: 1;
  overflow: hidden;

  @media (min-width: 480px){
    width: calc( 100% - 2rem );
  } 

  @media (min-width: 768px){
    background-color: transparent;
    width: 33.333%;
    height: calc(100vh - 80px);
    top: 80px;
    padding: 2rem;
    display: flex;
    overflow: visible;
  }

  & > svg {
    visibility: hidden;
    opacity: 0; 
    // ^ important to prevent rendering jump or these be shown elsewhere
    position: absolute;
    left: 0;
    height: calc(100% - 20px);
    width: 100%;
    overflow: visible;

    @media (min-width: 768px){
      width: 100%;
      height: auto;
      align-self: center;
    }
  }
}

.page-template-page-about .illustration-stage {
  background-color: transparent;
  overflow: visible;
}

#illuOne {
  @media (min-width: 768px){
    align-self: flex-start;
    left: 2rem;
  }
}

#speechbubble, #body-howcombat, #body-howcombat #arm-left {
  visibility: hidden;
  opacity: 0;
}

.content-scroll {
  font-size: 1.15rem;
  height: calc(100vh - 80px);
  //overflow: hidden;
  //scroll-snap-type: y mandatory;

    @media (min-width: 768px){
      font-size: 1.3rem;
      padding: 0 4rem;
      margin-left: calc(33.333% + 2rem);
    }

    & .section {
      scroll-snap-align: start;
      position: relative;
      
      @media (min-width: 768px){
      }
    }
}



.section .wp-block-group__inner-container{
  min-height: calc(50vh - 71px);
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 768px){
    min-height: calc(100vh - 80px);
    padding: 20vh 0;
  }

  & p {
    margin-top: 0;
  }

}


#section_one {
  padding-top: calc(30vh - 1px);

  @media (min-width: 768px){
    padding-top: 0;
  }
}

#section_two {
  font-size: 1.5rem;
  strong{
    color: #000;
  }
}

// About page

.page-template-page-about{

  & .site-content {
    color: #FFF;
  }
}

#section_unbalancedWorld {
  padding-top: calc(30vh - 1px);

  @media (min-width: 768px){
    padding-top: 0;
  }
}

#section_ourStory,
#section_rebalance {
  color: #000;

  & em {
    color: darken($color__brand-primary, 15%);  
  }
}

#signup-form {

}

.background-stage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-color: $color__brand-secondary;

  & .bg-galaxy {
    margin-top: 70px;
    min-width: 100vw;
    min-height: 150vh;
  }
}

