.site { 
    margin: auto;
    padding: 0;
}
.site-main {
    padding-top: 1rem;

    .single-exercises & {
        padding-top: 0;
    }
}
.home.wpsmp-loggedout .site-main,
.page-template-page-registration .site-main,
.page-template-page-profile .site-main, 
.page-template-page-pricing .site-main,
.page-template-page-my-course-history .site-main {
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 768px){
        width: 85%;
    }
}
.site-content {
    @include content-block;
    margin-top: 71px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        margin-top: 81px;
        min-height: calc(100vh - 360px - 1rem);
    }
}
.site-footer {
    padding-bottom: 60px;

    @media screen and (min-width:  1100px) {
        padding-bottom: 0;
    }
}
