.site {
    max-width: 1000px;
    margin: auto;
    background-color: #FFF;
    padding: 0 1em;
    min-height: 100vh;
   // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 480px) {
        padding: 0 2em;
    }
}

.site-main {
    padding-top: 1em;

    .single-exercises & {
        padding-top: 0;
    }
}

.site-content {
    // overflow-x: visible;
    // overflow-y: scroll;
    // height: calc(100vh - 80px);
}