.exercise-single-article {
    margin-top: 1rem;

    & h2 {
        font-weight: 600;
    }

    & .wp-block-video {
        margin: 0;
        background-color: #333;
        min-width: 60%;
        border-radius: 5px;

        & video {
            display: block;
            width: auto;
            margin: 0 auto;
        }

        @media (min-width: 768px) {
            float: left;
            margin-right: 2rem;
        }
    }

    & .entry-footer {
        //text-align: center;
        margin-top: 1em;
    }   
    & .entry-footer .exercises-tag {
        display: inline-block;
        background-color: lighten($color__brand-primary, 20%);
        padding: 4px 8px;
        margin-bottom: 4px;
    }
    & .entry-footer .divider {
        display: none;
    }
}