.exercise-single-article {
    margin-top: 1rem;

    & h2 {
        font-weight: 600;
    }

    & .wp-block-video {
        margin: 0;
        background-color: #333;
        border-radius: 5px;
        width: calc(100vw - 2rem);
        height: calc( ( 100vw - 2rem ) * 0.5625);
        
        @media (min-width: 768px) {
            float: left;
            margin-right: 2rem;
            width: 60vw;
            height: 33.75vw;
        }

        & video {
            display: block;
            margin: 0 auto;
            border-radius: 5px;
            width: calc(100vw - 2rem);
            height: calc( ( 100vw - 2rem ) * 0.5625);

            @media (min-width: 768px) {
                width: 60vw;
                height: 33.75vw;
            }
        }

        
    }

    & .entry-footer {
        //text-align: center;
        margin-top: 1em;
    }   
    & .entry-footer .exercises-tag {
        display: inline-block;
        background-color: lighten($color__brand-primary, 20%);
        padding: 4px 8px;
        margin-bottom: 4px;
    }
    & .entry-footer .divider {
        display: none;
    }
}