.site-footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(0,0,0,0.125);
  @include font-size(1);
  position: relative;
  z-index: 2;
}

.single-exercises .site-footer {
  @media (min-width: 768px) {
    position: fixed;
    bottom: 0;
    background-color: #FFF;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
}

.site-info {
  @include content-block;
  text-align: center;
  line-height: 2;
  @media (min-width: 1100px) {
    text-align: left;
  }
}
.site-info-element {
  margin-right: 1.5em;
}
.site-info-element:last-child {
  margin-right: 0;
}