.home.wpsmp-loggedin .statusbar {
  display: none;
}
.hidden-on-narrow {
  display: none;
  @media screen and (min-width: 1100px) {
    display: block;
  }
}
.home .headline-homenav {
  font-size: 5.5vw;
  padding: 0 0 1rem 0;
  & em {
    color: $color__brand-primary;
    display: block;
  }  
  @media (min-width: 769px) {
    font-size: 1.5rem;
    & em {
      display: inline;
    }
  }
}