.home.wpsmp-loggedin .statusbar {
  display: none;
}
.site-main.home-dashboard {
  padding-top: 0;
  @media (min-width: 1100px) {
    display: flex;
    height: calc( 100vh - 120px);
  }
}
.home-dashboard-tabs {
  background-color: #EEE;
  margin: 0 -1.5rem 1rem -1.5rem;
  padding: 1rem 1.5rem;
  @media screen and (min-width: 1100px){
    display: none;
  }
}
.home-dashboard-tabs > a {
  color: $color__text-main;
  margin-right: 2rem;
}
.home-dashboard-tabs > a.home-dashboard-tab--active {
  font-weight: 600;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: -1rem;
    bottom: -1rem;
    width: calc(100% + 2rem);
    height: 2px;
    background-color: $color__brand-primary;
  }
}
.home-dashboard-courses {
  @media (min-width: 1100px) {
    flex-basis: calc(33.3% - 6px);
    background-color: lighten($color__brand-primary, 20%);
    border-radius: 5px;
    padding: 1em 1.5rem;
    margin-right: 6px;
    overflow-y: scroll;
  }
  & #lblGreetings {
    margin: 0 -1.5rem;
    padding: 0 1.5rem 1rem 1.5rem;
    @include font-size(1.25);
    border-bottom: 1px solid $color__brand-primary;
    @media screen and (min-width: 1100px) {
      @include font-size(1.125);
      margin: 0 -1.5rem;
      padding: 0 1.5rem 1rem 1.5rem;
    }
  }
}
.home-dashboard-courses-course {
  clear: both;
  overflow: auto;
  margin-bottom: 1rem;
}
.home-dashboard-courses-thumbnail {
  width: 25%;
  float: left;
  margin-right: 1rem;
  border-radius: 3px;
  overflow: hidden;
  & img {
    display: block;
    width: 100%;
  }
}
.home-dashboard-courses-coursetitle {
  font-weight: 600; 
  margin: 0 0 0.5rem 0;
  & a {
    color: $color__text-main;
  }
}
.home.rebalance { //Progress bar home specific
  & .learn-press-progress .progress-bg {
    height: 20px;
    background-color: #F4F4F4;
    margin-bottom: .5rem;
  }
  & .result-percent {
    font-size: 14px;
    margin-right: .25rem;
  }
  & .lp-label {
    font-size: 14px;
  }
  & ul.learn-press-courses {
    flex-direction: column;
  }
  & ul.learn-press-courses .course {
    display: block;
    width: 100%;
    margin: 0;
  }
  & ul.learn-press-courses .course .course-thumbnail {
    width: 25%;
    display: inline-block;
    margin: 0 1rem 0 0;
    border-radius: 5px;
    overflow: hidden;
  }
  & ul.learn-press-courses .course .course-title {
    @include font-size(1);
    color: $color__text-main;
    display: inline-block;
    width: calc(75% - 1.5rem);
    position: relative;
    top: .5rem;
    &:after {
      content: 'View Course';
      color: $color__brand-primary;
      position: absolute;
      left: 0;
      top: 1.5rem;
    }
  }
  & ul.learn-press-courses .course .course-info {
    display: none;
  }
}
.course-progress-gotocourselink {
  float: right;
  position: relative;
  top: 2px;
}
.home-dashboard-courses-coursepagelink {
  margin-top: 1rem;
}
.home-dashboard-exercises {
  @media (min-width: 1100px) {
    flex-basis: calc(66.6% - 6px);
    margin-left: 6px;
  }
}
.hidden-on-narrow {
  display: none;
  @media screen and (min-width: 1100px) {
    display: block;
  }
}
.home-dashboard-exercise-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;	
  margin: -6px;
  min-height: calc( 100vh - 80px);
  @media screen and (min-width: 1100px) {
    min-height: calc(100% + 12px);
  }
  & > div {
    position: relative;
    background-color: $color__brand-secondary;
    flex: 1 1 40%;    
    transition: all .2s ease-in-out;
    overflow: hidden;
    border-radius: 5px;
    margin: 6px;    
    & > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      width: 100%;
      padding: 1em;
      color: #fff;
      left: 0;
      @include font-size(1);
      line-height: 1;
      transition: all .2s ease-in-out;
      @media screen and (min-width: 480px) {
        @include font-size(1.25);
      }
      & > span {
        display: block;
        @include font-size(.8);
        margin-top: .5rem;
        line-height: 1.4;
        @media (min-width: 640px) {
          max-width: 40%;
        }
      }
    }
    &.home-dashboard-exercise-link--breathe:after {
      transform: translateX(-100%);
    }
    &:hover:after{
      transform: translateX(0%);
    }
    &:hover {			
      transform: scale(1.025);
      border-radius: 10px;
      background-color: lighten($color__brand-secondary, 5%);
    }
  }
}
.home-dashboard-exercise-link--move a,
.home-dashboard-exercise-link--breathe a,
.home-dashboard-exercise-link--surprise a,
.home-dashboard-exercise-link--tiny a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-image: url(img/ui-home-move.svg);
  background-repeat: no-repeat;
  background-size: auto 66.6%;
  background-position: 50% 90%;
  @media (min-width: 640px) {
    background-position: 50% 50%;
    background-size: auto calc(100% - 2em);
  }
}
.home-dashboard-exercise-link--breathe a {
  background-image: url(img/ui-home-breathe.svg);
  background-size: auto calc(70% - 2em);
}
.home-dashboard-exercise-link--surprise a {
  background-image: url(img/ui-home-surprise.svg);
  background-size: auto calc(70% - 2em);
}
.home-dashboard-exercise-link--tiny a {
  background-image: url(img/ui-home-tiny.svg);
  background-size: auto calc(55% - 2em);
  background-position: 50% 75%;
  @media (min-width: 640px) {
    background-size: auto calc(55% - 2em);
    background-position: 50% 55%;
  }
}