.home.wpsmp-loggedout {
    @include bg-gradient-01;
}
.home.wpsmp-loggedout .site-content {
    @include font-size(1.1);
    @media (min-width: 768px) {
        @include font-size(1.2);
    }
}
#home-how-block {
    align-items: center;
    min-height: 100vh;
    & .wp-block-column {
        flex-basis: 66.6%;
    }
    & .wp-block-column:first-child {
        flex-basis: 33.3%;
        text-align: center;
    }
}
#home-offer-block {
    align-items: center;
    & .wp-block-column {
        flex-basis: 50%;
        background-color: #fff;
        padding: 2em;
        border-radius: 5px;
        box-shadow: 0 3px 16px rgba(0,0,0,0.1);
        & > :first-child {
            margin-top: 0;
            padding-top: 0;
        }
        & > :last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            & .wp-block-button {
                margin-top: 8px;
                margin-bottom: 0;
                width: 100%;
            }
        }
    }
}
.home-example-video-block .wp-block-column *:first-child{
    @media (min-width: 768px) {
        margin-top: 0;
        &.wp-block-embed-vimeo{
            margin-top: 10px;
        }
    }
}
.home .wp-block-button {
    display: block;
    @media (min-width: 768px) {
        display: inline-block;
    }
}
.home a.wp-block-button__link {
    width: 100%;
}
.hero {   
    & svg {
        margin: 1rem auto;
        max-height: 160px;
        display: block;
        overflow: visible;
        @media (min-width: 375px) {
            max-height: 200px;
        }
        @media (min-width: 768px) {
            min-width: 33vw;
            margin: 0;
            flex-basis: 33.3%;
            max-height: none;
            min-height: calc(100vh - 80px);
        }
    }
}
#illu-tryitnow .tryitnow-speech-bubble {
    transform: scale(1.5);
    @media (min-width: 768px) {
        transform: scale(.9) translate(15%, 0%);
        transition: transform .15s ease-in-out;
    }
}
#illu-tryitnow:hover .tryitnow-speech-bubble {    
    @media (min-width: 768px) {
        transform: scale(1) translate(10%, -5%);
    }
}
.hero > .wp-block-group__inner-container {
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;     
        align-items: center;   
    }
}
.home.wpsmp-loggedout .site-main {
    padding: 0;
}
.home-about-block-illu {
    max-width: 100%;
    max-height: 26rem;
}
.home-benefits-block-illu {
    margin-left: -10%;
}
.home-example-video-block {
    margin-top: 4em;
    & .wp-embed-aspect-16-9 {
        margin-left: auto;
        margin-right: auto;       
        margin-bottom: 0;
        overflow: hidden;
        width: 100%;
        height: 0;
        padding-top: 56.25%;
        position: relative;
        border-radius: 5px;
        box-shadow: 0 0 0px 10px lighten($color__brand-primary, 20%);
        & iframe {           
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}