// Notification mixin in mixins-master.scss
.exercise-single-article .post-info > :not(.wp-block-embed):not(.wp-block-video):not(.entry-footer).swpm-post-not-logged-in-msg,
.swpm-post-not-logged-in-msg,
.swpm-expired-msg,
.notification {
    @include notification;
}
.notification {
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 80px;
  transform: translate(-50%, 0%);
  box-shadow: 0 0 6px rgba(0,0,0,0.16);
  border: 2px solid white;
  font-size: 1rem;
  @media (min-width: 768px) {
    top: calc(50% - 3rem);
    transform: translate(-50%, -50%);
  }
}
// Hide expired notification on certain pages
.page-template-page-pricing .notification-expired {
  display: none;
}
// Hidden notifications
.notification-hidden {
  visibility: hidden;
  opacity: 0;
  transform: translate(0%, 100vh);
}
// Notification Header
.swpm-partial-protection-header,
.notification-header {
  margin: -1.5rem -1.5rem 1.5rem -1.5rem;
  border-bottom: 1px solid #E8D4C8;
  padding: 1rem 4rem 1rem 1.5rem;
}
//rebalance mini in notification
.notification-rebalance-mini {
  top: 0;
  max-width: 100vw;
  max-height: calc(100vh - 20px);
  margin: 10px auto;
  padding: 0;
  @media (min-width: 768px) {
    top: calc(50% - 3rem);
    margin: 2rem auto;
    padding: 1.5rem;
    max-width: 53rem;
    max-height: calc(100vh - 200px);
  }
  & li {
    padding-bottom: .25em;
  }
}
.notification-rebalance-mini .notification-header {
  margin-bottom: 0;
}
.rebalance-mini {
  font-size: .9rem;
  overflow-y: scroll;
  max-height: 100%;  
  padding: 1rem;
  @media (min-width: 768px) {
    display: flex; 
    align-items: center;
    font-size: 1rem;
    overflow-y: hidden;
    max-height: auto;
    padding: 0;
  }
}
.rebalance-mini .rebalance-mini-illustration {
  & svg {
    height: 25vh;
    margin: 10px;
  }
  text-align: center;
  @media (min-width: 768px) {
    flex-basis: 33.3%; 
    padding: 1em 3em 1em 1em;
    & svg {
      height: auto;
    }
  }
}
.rebalance-mini .rebalance-mini-instructions{  
  & ul {
    padding: 0;
  }
  & ul > li {
    padding: 0.25em;
  }
  @media (min-width: 768px) {
    flex-basis: 66.6%;
  }
}
.rebalance-mini .button {
  display: block;
  text-align: center;
  @media (min-width: 768px) {
    display: inline-block;
  }
}
//Modal oVerlay
.notification-modal-darken.notification-hidden {
  transition: background-color .5s ease-in-out;
  background-color: rgba(0,0,0,0);
  visibility: visible;
  opacity: 1;
}
.notification-modal-darken {
  transition: background-color .5s ease-in-out;
  position: fixed;
  z-index: 2147483001;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
}
.show-notification {
  cursor: pointer;
}
