.sticky {
	display: block;
}

.post,
.page {
	//margin-bottom: 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
  
.home .page-header,
.choose-exercise-buttons {
	text-align: center;
}

.home .page-title::before {
    content: '';
    width: 66.6%;
    height: 1px;
    background-color: #E5947F;
	display: block;
	margin: .5em auto;
}

.home .page-subtitle {
	font-size: .9em;
	margin-top: 0;

	@media (min-width: 480px) {
		position: absolute;
		top: 1.5rem;
		z-index: 9999;
		font-size: .9em;
	}
}

.home .choose-exercise-links {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	@media (min-width: 480px) {
		flex-direction: row;
	}

	
	& > div {
		background-color: $color__brand-secondary;
		width: 100%;
		display: inline-block;
		position: relative;
		transition: all .2s ease-in-out;
		overflow: hidden;
		margin-bottom: 1em;
		border-radius: 5px;

		@media (min-width: 480px) {
			width: calc(50% - 6px);
			margin-bottom: 0;
		}

		& > a {
			position: relative;
			display: block;
			width: 100%;
			padding: 1em;
			padding-bottom: calc(100% - 2em);
			color: #fff;
			left: 0;
			font-size: 1em;
			line-height: 1;

			@media screen and (min-width: 480px) {
				font-size: 1.5em;
				padding: 20px;
				padding-bottom: calc(100vh - 190px - 2em);
			}
	
		}

		&:after {
		//	content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			transform: translateX(100%);
			background-color: lighten(#E5947F, 25%);
			z-index: 0;
			border-radius: 50%;
			transition: all .1s ease-in-out ;
		}

		&.choose-exercise-link--breathe:after {
			transform: translateX(-100%);
		}

		&:hover:after{
			transform: translateX(0%);
		}

		&:hover {
			font-weight: 600;
			transform: translate(5px, -5px);
			border-radius: 10px;
			color: #000;
			box-shadow: -1px 1px 0 darken($color__brand-secondary, 10%), 
						-2px 2px 0 darken($color__brand-secondary, 10%),
						-3px 3px 0 darken($color__brand-secondary, 10%),
						-4px 4px 0 darken($color__brand-secondary, 10%),
						-5px 5px 0 darken($color__brand-secondary, 10%),
						// -6px 6px 0 darken($color__brand-secondary, 10%),
						// -7px 7px 0 darken($color__brand-secondary, 10%),
						// -8px 8px 0 darken($color__brand-secondary, 10%),
						// -9px 9px 0 darken($color__brand-secondary, 10%),
						// -10px 10px 0 darken($color__brand-secondary, 10%);
			//border-bottom: .5em solid darken($color__brand-secondary, 10%);
		}
	}
}
.choose-exercise-link--move a,
.choose-exercise-link--breathe a {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url(img/ui-home-move.svg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: auto calc(100% - 2em);
	z-index: 1;

	@media (min-width: 480px) {
		background-size: auto calc(100% - 4em);
	}
}

.choose-exercise-link--breathe a {
	background-image: url(img/ui-home-breathe.svg);
	background-size: auto calc(70% - 4em);
}

.post-template-default,
.page-template-default {
	& article {
		@media (min-width: 480px) {
			max-width: 40rem;
			margin: 2em auto;
		}
	}
}