body.page-template-page-pricing ,
body.page-template-page-free-trial {
  @include bg-gradient-01;
}
body.page-template-page-pricing .hero-header {
  margin-top: .5em;
}
.pricing .can-toggle__switch {
  margin: 1rem auto 3rem auto;
}
.pricing-individual {
  @media (min-width: 480px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.pricing-individual-annually,
.pricing-individual-monthly {
  text-align: center;
  background-color: #FFF;
  border-radius: 5px;
  padding: 1.5em;
  margin-bottom: 1.5rem;
  flex-basis: calc(50% - .75em);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  & .pricing-title {
    color: $color__brand-primary;
    margin-top: 0;
  }
  & hr {
    background-color: #DDD;
    margin: 1.5rem -1.5rem;
    width: calc(100% + 3em); 
  }
  & .button {
    display: block;
    margin: 0 1.5rem;
  }
}
.pricing-amount {
  margin: 4rem auto;
}
.pricing-amount-currency,
.pricing-amount-number,
.pricing-amount-frequency{
  display: inline-block;
  color: #BABABA;
  vertical-align: top;
  font-size: 1.6rem;
  line-height: .6666;
}
.pricing-amount-frequency {
  vertical-align: bottom;
}
.pricing-amount-number {
  font-size: 5rem;
  color: #000;
  vertical-align: middle;
}