.cta-block {
  padding: 1.5rem;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  h3 {
    margin-top: 0;
  }
  & .wp-block-buttons .wp-block-button {
    margin-bottom: 1rem;
  }
  & .already-member {
    @include font-size(.9);
    margin: 0;
  }
  & .wp-block-buttons {
    justify-content: center;
  }
}
.page-template-page-the-benefits {
    @include bg-gradient-01;
  }
  .page-template-page-the-benefits .site-content,
  .page-template-page-about .site-content {
    padding: 0 1.5rem;
  }
  .page-template-page-the-benefits .site-main,
  .page-template-page-about .site-main {
    position: relative;
    padding: 0;
  }
  .page-template-page-the-benefits em strong {
    font-style: normal;
    font-weight: 600;
  }
.illustration-stage {
  position: fixed;
  top: 70px;
  left: 0;
  padding: 20px 0 0 0;
  text-align: center;
  width: 100%;
  height: 250px;
  background-color: $color__brand-secondary;
  background: linear-gradient(
      180deg, 
      $color__brand-secondary 0%, 
      #DDE5EA 80%, 
      transparentize($color__brand-secondary, 1) 100%
  ) no-repeat;
  z-index: 1;
  overflow: visible;
  @media (min-width: 769px){
    background: transparent;
    width: 33.333%;
    max-width: 450px;
    left: auto;
    height: calc(100% - 5rem);
    top: 80px;
    padding: 2rem;
    display: flex;
    overflow: visible;
  } 
}
.illustration-stage > svg {
  visibility: hidden;
  //opacity: 0; 
  // ^ important to prevent rendering jump or these be shown elsewhere
  position: absolute;
  left: 0;
  height: calc(100% - 20px);
  width: 100%;
  overflow: visible;
  @media (min-width: 769px){
    width: 100%;
    left: 2rem;
    height: auto;
    align-self: center;
  }
}
.content-scroll {
  font-size: 4.5vw;
    @media (min-width: 400px){
      @include font-size(1.15);
    }
    @media (min-width: 769px){
      @include font-size(1.3);
      padding: 0 4rem;
      margin-left: calc(33.333% + 4rem);
    }
    & .section {
      scroll-snap-align: start;
      position: relative;     
      padding-top: 200px;
      @media (min-width: 769px){
        padding-top: 0;
      }
    }
}
.section .wp-block-group__inner-container{
  min-height: calc(50vh - 71px);
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 769px){
    min-height: calc(100vh - 80px);
    padding: 20vh 0;
  }
  & p {
    margin-top: 0;
  }
}
#illuOne {
  @media (min-width: 769px){
    margin-top: -2rem;
  }
}
#speechbubble, #body-howcombat, #body-howcombat #arm-left {
  visibility: hidden;
  opacity: 0;
}
#section_one {
  padding-top: calc(30vh - 1px);
  @media (min-width: 769px){
    padding-top: 0;
  }
}
// About page
.page-template-page-about {
  @include bg-gradient-01;
}
#section_unbalancedWorld {
  padding-top: calc(30vh - 1px);
  @media (min-width: 769px){
    padding-top: 0;
  }
}
.background-stage {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 250px);
  z-index: 0;
  overflow: hidden;
  @media (min-width: 769px){
    height: calc(100vh - 80px);
  }
}

