.rebalance-mini-illustration svg > * {
  visibility: hidden;
  opacity: 0;
  //hidden at pageload, show needed items via js
}
#illu-ankle-flexions {
  @media (max-width: 767px) {
    height: auto;
    width: 75%;
  }
}